.container-section {
  margin-right: 9rem;
  margin-left: 9rem;
}

.description {
  display: flex;
  width: 65%;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.description p {
  display: inline-block;
  left: 50%;
  margin: 1.5em;
  font-size: 1rem;
  font-family: "Mukta", sans-serif;
  font-style: italic;
}

.heading {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.1rem;
  position: relative;
}

.ingredient_list {
  list-style: square;
  font-size: 15px;
  font-family: "Mukta", sans-serif;
}

.ingredients-title h2 {
  height: 100%;
  width: 90%;
}

.instructions {
  margin: 2em;
  font-family: "Mukta", sans-serif;
}

.post-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  height: 270px;
}

.recipe-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  margin: 0;
}

.recipe-picture {
  max-height: 200px;
  max-width: 200px;
}

.recipe-title {
  font-size: 0.85rem;
}
.second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  margin-bottom: 1em;
}

.second-row ul {
  margin-left: 0.45em;
}

.second-row-icons {
  width: 25px;
  height: 25px;
  color: red;
  margin-right: 0.35em;
}

.second-row-items {
  display: inline-block;
  width: auto;
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.second-row-title {
  display: grid;
  grid-template-columns: 78.5% 21.5%;
}

.second-row-title h2 {
  display: inline-flex;
}

@media only screen and (max-width: 1070px) {
  .description p {
    width: 90%;
    font-size: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .container-section {
    margin: 1rem;
  }

  .description {
    width: 100%;
  }

  .heading {
    width: 100%;
    height: auto;
  }

  .post-container {
    height: auto;
  }

  .second-row {
    display: flex;
    flex-flow: column wrap;
    height: auto;
    margin-bottom: 1em;
  }

  .second-row-items {
    width: 100%;
    font-size: 12px;
    margin-top: 1em;
  }

  .second-row-items h2 {
    font-size: 16px;
  }

  .second-row-items li {
    font-size: 14px;
  }
}
